body {
  text-align: center;
  margin: 0 auto;
  font-family: 'Audiowide', cursive;
}

footer{
  list-style: none;
  padding-top: 50px;
}

li{
  display: inline;
}

body{
  font-family: 'Audiowide', cursive;
}

.list-item{
  margin-top: 50px;
  margin-bottom: 50px;
  height: 200px;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  padding: 70px;
  background: rgba(0,0,0,0.5);
  display: block;
}

#names{
  background-color: none;
}

@media (max-width: 800px){

.list-item{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  display: block;
  color: white;
  font-size: 11px;
  text-align: center;
  background: rgba(0,0,0,0.5);
}

#map{
  display: none;
}

}
