body {
  text-align: center;
  margin: 0 auto;
}

.list-item{
  margin-top: 50px;
  margin-bottom: 50px;
  height: 200px;
}

.list-item{
  font-size: 34px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  padding: 70px;
  background: rgba(0,0,0,0.5);
  display: block;
}
